/* Resetear los estilos predeterminados del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: #fff; /* Fondo blanco */
    color: #ff860f; /* Color de texto naranja */
    text-align: center;
    margin: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #ff860f; /* Fondo naranja */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff; /* Texto blanco */
}

/* Estilos de los planes */
.planes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan {
    background-color: #ff860f; /* Fondo naranja */
    color: #fff; /* Texto blanco */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    transition: transform 0.3s ease;
}

.plan h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan p {
    font-size: 16px;
    margin-bottom: 10px;
}

.plan a {
    display: inline-block;
    background-color: #fff; /* Fondo blanco */
    color: #ff860f; /* Texto naranja */
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.plan a:hover {
    background-color: #ff860f; /* Fondo naranja */
    color: #fff; /* Texto blanco */
}

/* Estilos del pie de página */
footer {
    margin-top: 20px;
}

/* Estilos para dispositivos pequeños (responsividad) */
@media screen and (max-width: 768px) {
    .plan {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .plan {
        width: 100%;
    }
}

/* Cambiar el color de los iconos a #ff860f */
.footer-icons a i {
    color: #ff860f;
}

